h1{
  text-align: center;
  padding-top: 50px;
  font-size: 100px;
  }
ul{
  list-style: none;
}
h3{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
}

.landing{
  padding-top: 1px;
  background-image: url("../images/1.jpg");
  background-size: cover;
  height: 600px;
}

.addplay{
  margin-left: 100px;
  padding: 50px 50px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.addplay:hover{background-color: #3e8e41}
.savedplay{
  margin-right: 80px;
  padding: 50px 50px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.savedplay:hover{background-color: #3e8e41}
.savedplay:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
a{
  color: black;
}
a:hover{
  text-decoration: none;
  color: #7B68EE;
}
.users-display{
  color: #7B68EE;
}
.users-display a{
  text-decoration: none;
}
.users-display div{
  height: 350px;
  transform: scale(1);
  border: none;
  transition-duration: 1s;
}
.users-display div:hover{
  transform: scale(0.75);
  transition-duration: 1s;
}
.users-display div img{
  width: 300px;
  height: 240px;
}
.users-display div a:hover{
  color: #7B68EE;
  text-decoration: none;
}
.users-display div p{
  font-size: 32px;
  color: black;
  transition-duration: 1s;
}
.users-display div p:hover{
  color: #7B68EE;
  transition-duration: 1s;
}
button{
  padding: 10px 30px 10px 30px;
  border: none;
}
