h1{
  text-align: center;
  padding-top: 50px;
  font-size: 100px;
  }
ul{
  list-style: none;
}
h3{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
}
footer{
  background-color: #7B68EE;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.content{
  height: 86vh;
  overflow: auto;
}
.home{
  padding: 10px 30px 10px 30px;
  background-color: #7B68EE;
  font-size: 30px;
  text-align: center;
}
.home a{
  color: white;
}
.home a:hover{
  color: white;
}
button{
  padding: 10px 30px 10px 30px;
  background-color: #7B68EE;
  color: white;
  font-size: 30px;
  border: none;
  transition-duration: 1s;
}
button:hover{
  padding: 10px 40px 10px 40px;
  background-color: white;
  color: #7B68EE;
  transition-duration: 1s;
}
a{
  color: black;
}
a:hover{
  text-decoration: none;
  color: #7B68EE;
}
select{
  padding: 10px 15px 10px 15px;
  color: #7B68EE;
}
.landing{
  color: #7B68EE;
}

.landing h2{
  text-align: center;
}
.landing h4{
  text-align: center;
}

.user-form{
  color: #7B68EE;
}

.user-form h2{
  text-align: center;
}

.users-display{
  color: #7B68EE;
}
.users-display a{
  text-decoration: none;
}
.users-display div{
  height: 350px;
  transform: scale(1);
  border: none;
  transition-duration: 1s;
}
.users-display div:hover{
  transform: scale(0.75);
  transition-duration: 1s;
}
.users-display div img{
  width: 300px;
  height: 240px;
}
.users-display div a:hover{
  color: #7B68EE;
  text-decoration: none;
}
.users-display div p{
  font-size: 32px;
  color: black;
  transition-duration: 1s;
}
.users-display div p:hover{
  color: #7B68EE;
  transition-duration: 1s;
}


.user-playlist h2{
  text-align: center;
  text-decoration: underline;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.track{
  height: 70vh;
  overflow: auto;
}
.track h4{
  font-weight: bold;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #7B68EE;
}
.youtube-logo{
  padding-left: 10px;
}
.vimeo-logo{
  padding-left: 10px;
}
.youtube-logo i{
  color: red;
  font-size: 40px;
}
.vimeo-logo i{
  color: #4EBBFF;
  font-size: 40px;
}

.new-track-success{
  color: #7B68EE;
}
