<div class="Container">
  <div class="landing page">

    <h1>Playr</h1>
    <h3>Lets Organise your music ...</h3>
    <div class="row">
      <div class="col-md-6">
        <button class="addplay">Create Playlist</button>
      </div>
      <div class="col-md-6">
        <button class="savedplay">Saved Playlist</button>

      </div>
    </div>

  </div>

</div>
