<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/69707593c1.js"></script>
  <link rel="stylesheet" href="/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/app.js" charset="utf-8"></script>
  <title>Playr</title>
</head>

<body>
    <div class="home">
      <a href="/">Playr</a>
    </div>
  <div class="content">
    #parse($template )
  </div>
  <div>
    <footer>
      Playr (c) 2017
    </footer>
  </div>
</body>

</html>
