<h1>Success!</h1>
Your song has been added to your playlist!
<a href="/playlists">
<button class="btn btn success">
  Finished!
</button>
</a>
<a href="/playlists/new">
<button type="button" name="button">
  Add more songs to the playlist!
</button>
</a>
