<div class="container new-track-success">
  <div>
    <h3>Success! <i class="fa fa-check"></i></h3>
    Your song has been added to your playlist!
  </div>
  <div >
    <a href="/playlists">
      <button>
        Finished!
      </button>
    </a>
    <a href="/playlists/new">
      <button type="button" name="button">
        Add more songs to the playlist!
      </button>
    </a>
  </div>
</div>
