<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
  <p> Success! Your playlist has been saved </p>
    <div class="pull-right">
      <button class="btn btn-default"><a href="/playlists">View your playlists</a></button>
      <button class="btn btn-primary"><a href="/">Go back to Home</button>
    </div>
  </div>
</div>
