<h3 class="alert alert-success">Success <i class="fa fa-check-circle"></i><br>
<b>$user.getUserName()</b>, has been successfully saved.</h3>
<a href="/playlists/new" style="text-align:center"><button> Continue to create your playlist <i class="fa fa-caret-right"></i>
</button></a>
